doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="description", content="hacking-alpha.com is the best tool to download video from Youtube")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title= title
    link(rel='stylesheet', href='/stylesheets/style.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css', integrity='sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj', crossorigin='anonymous')
    script(src="/javascripts/script.min.js")
  body
    div.content
      h5#brand Youtube Downloader
      hr
      block content
