doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css', integrity='sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj', crossorigin='anonymous')
    script(src="/javascripts/script.min.js")
  body
    div.content
      h5#brand Youtube Downloader
      hr
      block content
