body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-width: 300px;
}

div.content div#index div#form{
  margin: 50px auto;
  max-width: 500px;
}

div.content div#index div#form button#generateInfo {
  margin-top: 23px;
  width: 100%;
}

div.content div#index div#result img#videoImg {
  max-width: 300px;
}

div.content div#index div#result {
  margin: 0px auto;
  max-width: 500px;
}

div.content div#index div#result textarea#videoInfo {
  width: 100%;
  margin-top: 25px;
  background-color: #E0E0E0;
  font-family: monospace;
  font-size: 13px;
  height: 100px;
}

.hidden {
  display: none;
}

.clear-both{
  clear: both;
}

.float-left {
  float: left;
}

div.content div#index div#result div#quality {
  margin-left: 20px;
  width: 100%;
}

div.content div#index div#result button.btn.btn-primary#download {
  margin-left: 20px;
  margin-top: 20px;
  width: 100%;
}

.input-invalid {
  border-color: red !important;
}

.red-text {
  color: red;
}

div#cantGetVideo {
    text-align: center;
}

img#imgLoading {
  width: 70px;
}

h5#brand {
  padding: 12px;
  margin-top: 13px;
  margin-left: 10px;
}